#off-screen-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $cream;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $purple;
  height: 30%;
  z-index: 99999;
  transform: translateY(-100%);
  transition: all 1s;

  &.active {
    transform: translateX(0);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      a {
        font-size: 2rem;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}